{% extends 'base.html.twig' %}

{% block title %}{{ 'title.todo_list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.todo_list'|trans }}</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.todo_title'|trans }}</th>
                <th>{{ 'label.status'|trans }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td class="{{ todo.isDone ? 'text-decoration-line-through text-muted' : '' }}">
                        {{ todo.title }}
                    </td>
                    <td>
                        <span class="badge {{ todo.isDone ? 'bg-success' : 'bg-warning' }}">
                            {{ (todo.isDone ? 'label.status_done' : 'label.status_active')|trans }}
                        </span>
                    </td>
                    <td>{{ todo.author.email }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-outline-primary btn-sm" href="{{ path('todo_view', {'id': todo.id}) }}" title="{{ 'action.view'|trans }}">
                                {{ 'action.view'|trans }}
                            </a>
                            {% if is_granted('TODO_EDIT', todo) %}
                                <a class="btn btn-outline-success btn-sm" href="{{ path('todo_edit', {'id': todo.id}) }}" title="{{ 'action.edit'|trans }}">
                                    {{ 'action.edit'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {{ 'message.empty_list'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-3">
        <a href="{{ path('todo_create') }}" class="btn btn-primary">
            {{ 'action.create'|trans }}
        </a>

        {# Przycisk powrotu do notatek #}
        <a href="{{ path('note_index') }}" class="btn btn-link">
            {{ 'action.back_to_notes'|trans }}
        </a>
    </div>
{% endblock %}
