{% extends 'base.html.twig' %}

{% block title %}{{ 'title.todo_view'|trans({'%id%': todo.id}) }}{% endblock %}

{% block body %}
    {% if todo is defined and todo is not empty %}
        <h1>{{ todo.title }}</h1>
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ todo.id }}</dd>

            <dt>{{ 'label.todo_title'|trans }}</dt>
            <dd>{{ todo.title }}</dd>

            <dt>{{ 'label.status'|trans }}</dt>
            <dd>
                <span class="badge {{ todo.isDone ? 'bg-success' : 'bg-warning' }}">
                    {{ (todo.isDone ? 'label.status_done' : 'label.status_active')|trans }}
                </span>
            </dd>

            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ todo.author.email }}</dd>
        </dl>

        <p>
            <div class="btn-group" role="group">
                <a href="{{ url('todo_index') }}" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left"></i> {{ 'action.back_to_list'|trans }}
                </a>
            </div>
        </p>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.record_not_found'|trans
        } %}
    {% endif %}
{% endblock %}
