{% extends 'base.html.twig' %}

{% block title %}{{ 'title.change_password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.change_password'|trans }}</h1>

    <div class="col-md-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ 'action.save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
