{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.note_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.note_list'|trans }}</h1>

    <div class="mb-3">
        <a href="{{ url('note_create') }}" class="btn btn-success">
            <i class="bi bi-plus-lg"></i> {{ 'action.create'|trans }}
        </a>
    </div>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped align-middle">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'note.id') }}</th>
                {# Nowa mała kolumna na status #}
                <th style="width: 1%">{{ knp_pagination_sortable(pagination, 'label.status'|trans, 'note.status') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'note.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'note.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'note.title') }}</th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'label.author'|trans, 'author.email') }}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('user_index') }}" title="{{ 'title.user_list'|trans }}" class="ms-1 text-decoration-none">
                            <i class="bi bi-people-fill text-primary"></i>
                        </a>
                    {% endif %}
                </th>
                <th>
                    {{ 'label.tags'|trans }}
                    <a href="{{ url('tag_index') }}" title="{{ 'title.tag_list'|trans }}" class="ms-1 text-decoration-none">
                        <i class="bi bi-tags-fill text-primary small"></i>
                    </a>
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}
                    <a href="{{ url('category_index') }}" title="{{ 'title.category_list'|trans }}" class="ms-1 text-decoration-none">
                        <i class="bi bi-collection-fill text-primary small"></i>
                    </a>
                </th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for note in pagination.items %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td style="white-space: nowrap;">
                        <span class="badge {{ note.status.value == 1 ? 'bg-primary' : 'bg-success' }}">
                            {{ note.status.label|trans }}
                        </span>
                    </td>
                    <td>{{ note.createdAt|format_date('long') }}</td>
                    <td>{{ note.updatedAt|format_date('long') }}</td>
                    <td><span class="fw-bold">{{ note.title }}</span></td>
                    <td>{{ note.author.email|default('-') }}</td>
                    <td>
                        {% if note.tags is not empty %}
                            {% for tag in note.tags %}
                            <a href="{{ url('note_index', {'tagId' : tag.id, 'statusId' : note.status.value}) }}"
                               title="{{ tag.title }}" class="text-dark text-decoration-none border-bottom border-secondary">
                                {{ tag.title }}
                                </a>{{ not loop.last ? ', ' : '' }}
                            {% endfor %}
                        {% else %}
                            <span class="text-muted">-</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('note_index', {'categoryId' : note.category.id, 'statusId' : note.status.value}) }}"
                           title="{{ note.category.title }}" class="text-dark text-decoration-none fw-bold">
                            {{ note.category.title }}
                        </a>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            {% if is_granted('NOTE_VIEW', note) %}
                                <a class="btn btn-primary" href="{{ url('note_view', {id: note.id}) }}" title="{{ 'action.view'|trans }}">
                                    {{ 'action.view'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('NOTE_EDIT', note) %}
                                <a class="btn btn-warning" href="{{ url('note_edit', {id: note.id}) }}" title="{{ 'action.edit'|trans }}">
                                    {{ 'action.edit'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('NOTE_DELETE', note) %}
                                <a class="btn btn-danger" href="{{ url('note_delete', {id: note.id}) }}" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}
