{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tag_list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_list'|trans }}</h1>

    <div class="mb-3">
        <a href="{{ url('tag_create') }}" class="btn btn-success">
            <i class="bi bi-plus-lg"></i> {{ 'action.create'|trans }}
        </a>
    </div>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tag.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'tag.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            {% if is_granted('TAG_VIEW', tag) %}
                                <a class="btn btn-primary" href="{{ url('tag_view', {id: tag.id}) }}" title="{{ 'action.view'|trans }}">
                                    {{ 'action.view'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('TAG_EDIT', tag) %}
                                <a class="btn btn-warning" href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans }}">
                                    {{ 'action.edit'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('TAG_DELETE', tag) %}
                                <a class="btn btn-danger" href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="mt-3">
            <a href="{{ url('task_index') }}" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left"></i> {{ 'action.back_to_tasks'|trans|default('Back to tasks') }}
            </a>
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}
